doctype html
html(lang='en')
    head
        meta(charset="UTF-8")
        title Webpack
    body
        .wrapper
            h1 Webpack configuration
            img(src="/assets/img/webpack_logo.jpg" alt="img")

